﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url(images/jumbotron/download4_2.png);
    color: black;
    /*background-attachment: fixed;*/
    background-size:cover;
    background-position: 0 0;
    min-height: 250px;
    min-width: inherit;
    margin-top: 0;
    margin-bottom: 8px;
    /*text-align: right;*/
}

.jumbotron h1 {
    color: lightblue;
}

.logoList {
    /*background-image: url(images/jumbotron/logoList.PNG);*/
    /*background-size:cover;*/
    /*background-position: 0 0;*/
    /*min-height: 60px;
    min-width: inherit;*/
    /*margin-top: 0;
    margin-bottom: 8px;*/
}

.navbar-fixed-top ul li {
    color: lightblue;
}

.navbar-inverse ul li {
    color: lightblue;
}

/*table.table td img {
    width: 100%;
    /*height: auto;*/
}
.logoList td {
    text-align: center;
    /*font-size: x-large;*/
}

/*.myTH th {
    
}*/

.leagueTable th {
    text-align: center;
    background-color: black;
    color: lightgray;
    /*font-size: smaller;*/
}

.leagueTable td {
    /*vertical-align: middle;*/
    text-align: center;
    font-size: smaller;
}

.resultsTable th {
    text-align: center;
    background-color: black;
    color: lightgray;
    /*font-size: smaller;*/
}

.resultsTable td {
    /*vertical-align: middle;*/
    text-align: center;
    font-size: smaller;
}

@media (max-width: 480px) {
    body {
        font-size:small;
    }

    /*.hidden-phone {
        display: block;
    }*/

    /*.pvw-title{
        position: fixed;
        top: -3px;
    }*/

    .pvw-title span{
        display: none;
    }

    .pvw-title:after {
        content: 'Egilsstaða-';
    }

    .pvw-title2 span {
        display: none;
    }

    .pvw-title2:after {
        content: 'nautin';
    }

    .pvw-title3 span {
        display: none;
    }

    .pvw-title3:after {
        content: 'Fjarða-';
    }

    .pvw-title4 span {
        display: none;
    }

    .pvw-title4:after {
        content: 'byggð';
    }
}

