﻿@model Bolholtsbikarinn.ViewModels.IndexViewModel

@using Bolholtsbikarinn.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bólholtsbikarinn</h1>
    @*<p class="lead">Körfubolti á Austurlandi</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Skoða meira &raquo;</a></p>*@
</div>

@*<div class="hidden-phone">
    <img src="~/Content/images/jumbotron/logoList.PNG" class="img-responsive" alt="Logo" />
</div>*@

<div class="hidden-phone">
        @*<div class="col-12">*@
            <table class="table" style="text-align:center">
                <tr>
                    @{
                        var numCols = 0;
                        foreach (var team in Model.AllTeams)
                        {
                            if (numCols != Model.AllTeams.Count - 1)
                            {
                                <td>
                                    <img src="@Url.Content(@team.logo45x41)" width="45" height="41" alt="@team.teamName" />
                                    <p>
                                        @if (@team.teamName.Equals("Nautin"))
                                        {
                                            <div class="pvw-title"><span>Egilsstaðanautin</span></div>
                                            <span class="pvw-title2"></span>
                                        }
                                        else if (@team.teamName.Equals("Fjarðabyggð"))
                                        {
                                            <div class="pvw-title3"><span>Fjarðabyggð</span></div>
                                            <span class="pvw-title4"></span>
                                        }
                                        else
                                        {
                                            <div>@team.teamName</div>
                                        }
                                    </p>
                                </td>
                            }
                            numCols++;
                        }
                    }
                    <td>
                            <img src="@Url.Content(@Model.AllTeams[Model.AllTeams.Count - 1].logo45x41)" width="45" height="41" alt="@Model.AllTeams[Model.AllTeams.Count - 1].teamName" />
                            <p>
                                @Model.AllTeams[Model.AllTeams.Count - 1].teamName
                            </p>
                    </td>
                </tr>
           </table>
     @*</div>*@
</div>

<div class="row">
    <div class="col-md-8">
        <h2 style="text-align: center">Staðan</h2>
        <table class="table table-hover leagueTable" style="font-size: large">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Lið</th>
                    <th>L</th>
                    <th>U</th>
                    <th>T</th>
                    <th>S</th>
                    <th>Skoruð stig</th>
                </tr>
            </thead>
            <tbody>
            @{
                var position = 1;
                foreach (var team in Model.AllTeams.OrderBy(o => o.points).Reverse())
                {
                    <tr class="success">
                        <td>
                            @position
                        </td>
                        <td>
                            <img src="@Url.Content(@team.logo45x41)"  width="45" height="41" alt="@team.teamName" />          
                        </td>
                        <td>
                            @{
                                var gameCount = 0;
                                foreach (var games in Model.AllGames)
                                {
                                    if (games.homeTeam.Equals(team.teamName) || games.awayTeam.Equals(team.teamName))
                                    {
                                        if (games.homeTeam_score != null)
                                        {
                                            gameCount++;
                                        }
                                    }
                                }
                                @gameCount
                            }
                        </td>
                        <td>
                            @{
                                var winCount = 0;
                                foreach (var games in Model.AllGames)
                                {
                                    if (games.winner != null)
                                    {
                                        if (games.winner.Equals(team.teamName))
                                        {
                                            winCount++;
                                        }
                                    }
                                }
                                @winCount
                            }
                        </td>
                        <td>
                            @{
                                var lossCount = 0;
                                foreach (var games in Model.AllGames)
                                {
                                    if (games.loser != null)
                                    {
                                        if (games.loser.Equals(team.teamName))
                                        {
                                            lossCount++;
                                        }
                                    }
                                }
                                @lossCount
                            }
                        </td>
                        <td>
                            @{
                                var points = 0;
                                points = winCount * 2;
                                @points
                            }
                        </td>
                        <td>
                            @{
                                var pointsFor = 0;
                                var pointsAgainst = 0;
                                var totalPoints = 0;
                                string allPoints = string.Empty;
                                foreach (var score in Model.AllGames)
                                {
                                    if (score.homeTeam_score != null)
                                    {
                                        if (score.homeTeam.Equals(team.teamName))
                                        {
                                            pointsFor += score.homeTeam_score.Value;
                                        }
                                        else if (score.awayTeam.Equals(team.teamName))
                                        {
                                            pointsFor += score.awayTeam_score.Value;
                                        }
                                    }
                                }
                                foreach (var score in Model.AllGames)
                                {
                                    if (score.homeTeam_score != null)
                                    {
                                        if (score.homeTeam.Equals(team.teamName))
                                        {
                                            pointsAgainst += score.awayTeam_score.Value;
                                        }
                                        else if (score.awayTeam.Equals(team.teamName))
                                        {
                                            pointsAgainst += score.homeTeam_score.Value;
                                        }
                                    }
                                }
                    
                                totalPoints = pointsFor - pointsAgainst;

                                allPoints = pointsFor.ToString() + "-" +
                                            pointsAgainst.ToString() + " = " +
                                            totalPoints.ToString();

                                @allPoints
                            }
                        </td>
                    </tr>
                    position++;   
                }
            }
            </tbody>
        </table>
        @*<p><a class="btn btn-default" href="#">Fyrri tímabil &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center">Úrslit</h2>
        <table class="table table-hover myTH resultsTable" style="font-size: large">
            <thead>
            <tr>
                <th>Umferð</th>
                <th>Heimalið</th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align: right">Útilið</th>
            </tr>
            </thead>
            <tbody>
            
            @foreach (var games in Model.AllGames.OrderBy(x => x.roundNr))
            {
                <tr class="success">
                    <td>
                        @games.roundNr
                    </td>
                    <td>
                        @foreach (var team in Model.AllTeams)
                        {
                            if (team.teamName.Equals(games.homeTeam))
                            {
                                <img src="@Url.Content(@team.logo45x41)" width="45" height="41" alt="@games.homeTeam" />
                            }
                        }
                    </td>
                    <td>
                        @if (games.homeTeam_score != null)
                        {
                            @games.homeTeam_score
                        }
                    </td>
                    <td>
                        <span> - </span>
                    </td>
                    <td>
                        @if (games.awayTeam_score != null)
                        {
                            @games.awayTeam_score
                        }
                    </td>
                    <td style="text-align: right">
                        @foreach (var team in Model.AllTeams)
                        {
                            if (team.teamName.Equals(games.awayTeam))
                            {
                                <img src="@Url.Content(@team.logo45x41)" alt="@games.awayTeam" />
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        @*<p><a class="btn btn-default" href="#">Öll úrslit &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Annað</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Eitthvað annað &raquo;</a></p>
    </div>*@
</div>